.header {
  background-color: #222;
  border-bottom: 1px solid #111;
  width: 100%;
  text-align: center;
  padding: 2rem 1rem;
  position: relative;
}
.header__title {
  font-size: 4rem;
}

.theme-toggle {
  font-size: 1.6rem;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.section {
  min-width: 450px;
  min-height: 300px;
  background-color: #444;
  border-radius: 15px;
  padding: 3rem;
  font-size: 1.6rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.section__title {
  font-weight: 400;
  padding-bottom: 10px;
}
.section__subtitle {
  font-weight: 400;
  font-size: 1.8rem;
  margin: 10px 0 10px 5px;
}
.section__span {
  font-size: 5rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  color: #55a630;
}
.section__options {
  display: flex;
}
.section__options .option {
  width: 50%;
}
.section canvas {
  margin: 25px 0 10px 0;
  width: 100%;
}

.work-plan {
  grid-column: 1/3;
}

.everyday {
  margin-left: 5px;
  padding: 15px 0;
  font-size: 1.6rem;
}

.input {
  font-size: 1.8rem;
  padding: 8px;
  border: 2px solid #222;
  border-radius: 15px;
  background-color: #333;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.accept {
  /* position: absolute;
  left: 30px;
  bottom: 20px; */
  border: 2px solid #111;
  background-color: #007f5f;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.accept:hover {
  cursor: pointer;
  background-color: #2b9348;
}

.humidity-level {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.svg-icon {
  position: absolute;
  top: 35px;
  right: 40px;
  cursor: pointer;
}

#accept-everyday {
  margin: 25px 0;
}

#accept-humidity-level {
  margin: 25px 0;
}

#minimal-level {
  width: 50%;
  text-align: right;
  margin: 20px 0;
}

#power-btn {
  border: 1px solid #111;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.warning {
  background-color: #d7263d;
}

.active {
  background-color: #2b9348;
}

.day-selection {
  display: flex;
  margin-left: 20px;
  gap: 10px;
  align-items: start;
}

.day {
  margin: 10px 0;
  padding: 6px 8px;
  background-color: #333;
  border-radius: 8px;
  transition: 0.3s ease all;
}
.day:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.selected-day {
  background-color: #bfd200;
  color: #333;
}

.flex {
  display: flex;
  justify-content: start;
  align-items: start;
}

.info {
  background-color: #aacc00;
}
.info:hover {
  cursor: pointer;
  background-color: #bfd200;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: 500px;
  z-index: -1;
  background-color: #333;
  border-radius: 5px;
}
.modal__footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.shadow {
  display: none;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-color {
  color: #2b9348;
}

.container {
  margin: 100px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.btn {
  border: none;
  padding: 10px 15px;
  margin: 10px 5px;
  border-radius: 15px;
  font-size: 1.6rem;
  transition: 0.3s all ease;
}

/*# sourceMappingURL=style.css.map */
