.section {
	min-width: 450px;
	min-height: 300px;
	background-color: $very-light-black;
	border-radius: 15px;
	padding: 3rem;
	font-size: 1.6rem;
	position: relative;
	@include box-shadow;

	&__title {
		font-weight: 400;
		padding-bottom: 10px;
	}

	&__subtitle {
		font-weight: 400;
		font-size: 1.8rem;
		margin: 10px 0 10px 5px;
	}

	&__span {
		font-size: 5rem;
		font-weight: bold;
		position: absolute;
		top: 50%;
		left: 30px;
		transform: translateY(-50%);
		color: $semi-green;
	}

	&__options {
		display: flex;

		.option {
			width: 50%;
		}
	}

	canvas {
		margin: 25px 0 10px 0;
		width: 100%;
	}
}

.work-plan {
	grid-column: 1/3;
}

.everyday {
	margin-left: 5px;
	padding: 15px 0;
	font-size: 1.6rem;
}

.input {
	font-size: 1.8rem;
	padding: 8px;
	border: 2px solid $semi-black;
	border-radius: 15px;
	background-color: $light-black;
	color: $white;
	@include box-shadow;
}

.accept {
	/* position: absolute;
	left: 30px;
	bottom: 20px; */
	border: 2px solid $dark-black;
	background-color: $dark-green;
	color: $white;
	@include box-shadow;

	&:hover {
		cursor: pointer;
		background-color: $primary-color;
	}
}

.humidity-level {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
}

.svg-icon {
	position: absolute;
	top: 35px;
	right: 40px;
	cursor: pointer;
}

#accept-everyday {
	margin: 25px 0;
}

#accept-humidity-level {
	margin: 25px 0;
}

#minimal-level {
	width: 50%;
	text-align: right;
	margin: 20px 0;
}

#power-btn {
	border: 1px solid $dark-black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.warning {
	background-color: $warning;
}

.active {
	background-color: $primary-color;
}

.day-selection {
	display: flex;
	margin-left: 20px;
	gap: 10px;
	align-items: start;
}

.day {
	margin: 10px 0;
	padding: 6px 8px;
	background-color: $light-black;
	border-radius: 8px;
	transition: 0.3s ease all;

	&:hover {
		transform: translateY(-5px);
		cursor: pointer;
	}
}

.selected-day {
	background-color: $lemon;
	color: $light-black;
}

.flex {
	display: flex;
	justify-content: start;
	align-items: start;
}

.info {
	background-color: $lime;

	&:hover {
		cursor: pointer;
		background-color: $lemon;
	}
}

.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	min-height: 500px;
	z-index: -1;
	background-color: $light-black;
	border-radius: 5px;

	&__footer {
		position: absolute;
		bottom: 10px;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
}

.shadow {
	display: none;
	width: 100%;
	height: 100%;
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
}
